@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @apply warning remove: https://github.com/tailwindlabs/tailwindcss/discussions/5258#discussioncomment-8559596 */

/* Notes: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container */

.roboto{
  font-family: var(--font-roboto);
}

.project-container {
  @apply flex flex-col w-full h-screen mx-auto;
}

.navbar {
  @apply w-full min-h-12 text-2xl content-center text-red-400 border border-red-500;
}

.main-rows {
  @apply flex flex-row flex-grow w-full mx-auto max-w-[1512px];
}

.side-channels-container {
  @apply min-w-[72px] border border-sky-500 hidden md:block; 
}

.direct-messages-container {
  @apply min-w-[360px] border border-green-500 hidden md:block;
  /* @apply lg:min-w-[360px]; */
}

.message-log-container {
  @apply flex-1 w-[934px] flex-grow border border-yellow-500;
  display: flex;
  flex-direction: column;
}

