@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.background-container {
  @apply flex justify-center items-center w-full h-screen;

  background-image: url("../../img/login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* old: min-h-[500px] */
.auth-container {
  @apply flex flex-col items-center min-w-[350px] bg-white border-2 border-[#D4F5EA] border-opacity-80 rounded-2xl relative pt-16;
}

.rounded-icon {
  @apply flex justify-center items-center w-24 h-24 bg-emerald-500 rounded-[100px] absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.google-link {
  @apply flex flex-row justify-center items-center bg-emerald-500 hover:bg-emerald-600 rounded-3xl w-[14.5rem] h-11 mb-3 space-x-2;
}
