.input {
  @apply p-2 border-none rounded transition duration-150 ease-in-out w-full;
}

.input:focus {
  @apply outline-none shadow-md;
}

.container {
  @apply flex flex-col items-center p-16 pt-5 pb-11 bg-white;
}

.header {
  @apply pr-12 pl-3.5 max-w-[1109px] border border-black bg-gradient-to-tl from-[#a7f0a7] to-[#1f9d1f];
}

.contentWrapper {
  @apply flex gap-5;
}

.buttonContainer {
  @apply flex justify-center items-center mt-5;
}

.formField {
  @apply flex gap-5 justify-between self-start mt-9 whitespace-nowrap max-md:pr-5 max-md:mt-10;
}

.label {
  @apply my-auto text-base;
}

.input {
  @apply bg-transparent;
}

.bottomMenuBtnsPos {
  @apply mx-2.5 px-6 mb-2 text-xs rounded-xl bg-emerald-400 hover:bg-orange-400 max-md:px-5;
}

.bottomMenuBtnsNeg {
  @apply mx-2.5 px-6 mb-2 py-3 text-xs rounded-xl bg-red-400 hover:bg-red-600 max-md:px-5;
}

.changeProfilePicBtn {
  @apply flex items-center justify-center mt-10 mb-1.5 text-sm mt-4 text-black whitespace-nowrap rounded-xl bg-emerald-400 hover:bg-orange-400 px-5 py-3.5 max-md:px-5 max-md:mt-10;
}

.fontMiddleSection {
  @apply text-3xl text-emerald-800;
}

.modalOverlay {
  @apply fixed inset-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-[1000];
}

.modalContent {
  @apply p-5 my-24 rounded-lg shadow-md;
}

.profileImage {
  @apply object-cover inset-0 size-[230px] z-10;
}

.aboutSection {
  @apply mt-6 bg-emerald-400 p-4 rounded-lg shadow-lg;
}

.aboutDescription {
  @apply mt-2 p-2 border border-none rounded w-full h-32 resize-none whitespace-pre-wrap bg-transparent outline-none shadow-md;
}
