.container {
  @apply fixed top-1/2 left-1/2 
  transform -translate-x-1/2 -translate-y-1/2 z-50 bg-green-400
  p-6 rounded-xl w-full max-w-md;
}

.mainContainer {
  @apply p-5 flex flex-col items-center bg-green-400;
}

.zoomButtonsArea {
  @apply flex flex-col items-center justify-center bg-green-200 ml-3
}
.zoomButtonGrow {
  @apply w-8 aspect-square transition-opacity duration-300 transform hover:scale-110 right-4
}
.deleteAvatarBtn {
  @apply justify-center self-center px-6 py-4 mt-4 text-base text-black hover:text-white bg-red-500 rounded-md max-md:px-5 max-md:mt-10 hover:bg-red-600 hover:shadow-md
}
.chooseBtn {
  @apply justify-center px-5 py-2.5 mt-4 text-sm rounded bg-neutral-400 max-md:pr-5 hover:bg-gray-500 hover:text-white hover:shadow-md
}
.inputField {
  @apply grow justify-center items-center self-end px-16 py-2.5 mt-4 text-sm bg-white rounded border border-black border-solid text-stone-400 w-fit max-md:px-5
}
.changeAvatar {
  @apply justify-center self-center px-5 py-4 mt-14 mb-2 text-base text-black hover:text-white bg-green-600 rounded-md max-md:pr-5 max-md:mt-10 hover:bg-green-700 hover:shadow-md
}
  
  .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #34d399; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #6ee7b7; 
    max-width: 550px;
    width: 100%;
  }
  
  .imageContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .imageWrapper {
    border-radius: 50%;
    overflow: hidden;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: #000; 
    background-color: #ef4444; 
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    color: #fff; 
    background-color: #dc2626; 
  }
  