/* SideBarIcon.css */
.sidebar-icon {
  @apply relative flex items-center justify-center 
  h-12 w-12 mt-2 mb-2 mx-auto  
  bg-green-900 hover:bg-green-600
  text-green-500 hover:text-white
  hover:rounded-xl rounded-3xl
  transition-all duration-150 ease-linear
  cursor-pointer shadow-lg
  select-none;
  z-index: 10; /* Ensure it is on top */
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
  text-white bg-gray-900 z-10
  text-xs font-bold 
  transition-all duration-75 scale-0 origin-left
  select-none;
}
